.comment {
    display: flex;
    flex-direction: column;
    position: relative
}

.header {
    display: flex;
    align-items: center;
    white-space: nowrap
}

.bubble {
    margin-right: 6px
}

.name {
    max-width: 64px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 20px
}

.date {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #a5a5a5;
    overflow: hidden
}

.saving {
    margin-right: 2px;
    color: #1836d3;
    font-size: 11px
}

.options {
    z-index: 30;
    position: absolute;
    right: 0;
    top: 100%;
    border: 1px solid #eee;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, .2) 0px 2px 8px 0px;
    overflow: hidden;
    white-space: nowrap
}

.option {
    border-top: 1px solid #eee;
    padding: 8px
}

.option:first-child {
    border-top: none
}

.option:hover {
    background-color: #1a73e8;
    color: #f9f9f9
}

.dots {
    align-self: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0
}

.active .dots:hover {
    background-color: #e2e2e2;
    border-radius: 3px
}

.text {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin-top: 12px;
    max-height: 80px;
    overflow-y: auto;
    word-wrap: break-word
}